{% extends 'base.html.twig' %}

{% form_theme form "bootstrap_4_layout.html.twig" %}

{% block title %}{{ article.title }}{% endblock %}

{% block metaHeader %}
<span class="meta">Posté par 
    <a href="#"></a>
    le {{ article.publishedAt | date("d-m-Y à H:i")}} dans la catégory <a href="{{ path('category',{id:article.category.id}) }}">{{ article.category.title }}</a>
</span>
{% endblock %}

{% block imageHeader %}{{ article.picture }}{% endblock %}

{% block body %}
{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}

<article>
    <div class="container-fluid">
        <div class="row">
            {{ article.content }}
        </div>
    </div>
</article>

<section class="comments">
    <h3>Ecrire un commentaire</h3>
    
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Commenter">
    {{ form_end(form) }}



    <h3>Commentaires</h3>
    {% for comment in article.comments %}
        <h3><i class="icon-message-square"></i> {{ comment.pseudo }} a écrit :
            <small>le {{ comment.createdAt | date('d/m/Y à H:i') }} </small>
        </h3>
        <p>{{ comment.comment }}</p>
        <hr>
    {% endfor %}

</section>
{% endblock %}