{% extends 'admin.html.twig' %}
{% block title %}Tous les articles{% endblock %}

{% block body %}
<section>
    <p class="text-right"><a href="{{ path('article_add') }}" class="btn btn-primary"><i class="icon-plus-square"></i> Ajouter un
            article</a></p>
    <table id="tableDonnee" class="table">
        <thead>
            <th>Image</th>
            <th>Titre</th>
            <th>Création</th>
            <th>Modification</th>
            <th>Publication</th>
            <th>Valid</th>
            <th>Catégorie</th>
            <th></th>
        </thead>
        <tbody>
            {% for article in articles %}
            <tr>
                <td>{% if article.picture != null %}
                    <img class="img-thumbnail" width="150"
                        src="{% if 'https://' not in article.picture %}{{ asset('uploads/article/' ~ article.picture )}}{% else %}{{ article.picture }}{% endif %}">
                    {% endif %}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.createdAt | date('d/m/Y h:i') }}</td>
                <td>{{ article.updatedAt | date('d/m/Y h:i') }}</td>
                <td>{{ article.publishedAt | date('d/m/Y h:i') }}</td>
                 <td>
                   <span class="d-none">{{ article.valid }}</span>
                   <a href="{{ path('article_publish', {id:article.id} ) }}"><i class="big {% if article.valid == true %}green icon-toggle-right{% else %}red icon-toggle-left{% endif %}"></i></a> 
                </td>
                <td><span class="badge badge-pill badge-success">{{ article.category.title }}</span></td>
                <td><a href="{{ path('article_edit', {id:article.id}) }}"><i class="icon-edit"></i></a> 
                    <a href="{{ path('article_del_confirm', {id:article.id}) }}" data-toggle="modal" data-target="#delete" data-title="{{ article.title }}"><i class="icon-trash"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}